[Unit]
Description=A simple webhook for GitHub events
StartLimitIntervalSec=1
ConditionPathExists=/etc/webhook-go/config.yml

[Service]
Type=exec
ExecStart=/usr/local/bin/webhook-go -config /etc/webhook-go/config.yml
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
